Body {
    font-family: Calibri, Helvetica, sans-serif;
    width: 40%;
    margin: auto;
    background-color: rgb(218, 212, 212);
}

button {
    background-color: #403c3c;
    width: 100%;
    color: rgb(255, 255, 255);
    padding: 15px;
    margin: 10px 0px;
    border: none;
    cursor: pointer;
}

form {
    border: 3px solid #dadbd8;
}

input[type=email],
input[type=password] {
    width: 100%;
    margin: 8px 0;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid rgb(242, 248, 246);
    box-sizing: border-box;
}

button:hover {
    opacity: 0.7;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    margin: 10px 5px;
}


.container {
    padding: 25px;
    background-color: rgb(144 152 155);
}