{% extends 'seminar/main.html' %}
{% load static %}
{% block content %}
<div class="container mt-5 pt-5">
    <div class="row d-flex justify-content-center g-2">
        <div class="col-12 col-md-8 col-lg-6 align-self-center">
            <img src="/static/banner/about.jpeg" alt="" srcset="" class="img-fluid w-75 mx-auto">
        </div>
        <div class=" col-12 col-md-8 col-lg-6">
            <p class="lead">About NextSeminar</p>
            <p class="h3 text-muted">Event Registration Platform</p>
            <br>
            <ul class="">
                <li>User and Organization Account Management:</li>
                <ul>
                    Users can easily create individual accounts, providing essential information such as name,
                    occupation

                </ul>
                <ul>
                    Organizations can register and create dedicated accounts, allowing them to host events and manage
                    their event listings.
                </ul>
                <li>Secure Login and Authentication:</li>
                <ul>
                    Robust authentication mechanisms ensure secure access to user and organization accounts, protecting
                    personal information and preventing unauthorized access.
                </ul>
                <li>Event Posting and Management:</li>
                <ul>Organizations can post detailed information about their upcoming events, including event titles,
                    descriptions, dates, locations, and other relevant details.

                </ul>
                <ul>
                    Event organizers can easily manage their event listings, update event information, and track
                    registrations.
                </ul>
                <li>User Event Registration:</li>
                <ul>Registering for events is a straightforward process, allowing users to indicate their interest and
                    secure their spot.

                </ul>
                <li>Email Notifications:</li>
                <ul>Automated email notifications and reminders are sent to users after successful event registration,
                    providing them with event details, directions, and any additional updates.

                </ul>
                <li>Responsive Design:</li>
                <ul>
                    The website is designed to be responsive and accessible across various devices, including desktops,
                    tablets, and mobile phones, ensuring a seamless user experience regardless of the platform used.

                </ul>

            </ul>
        </div>
    </div>
</div>



{% endblock content %}