{% load static %}
<div class="containeer">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">NextSeminar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Seminars
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/addseminar">Add Seminar</a></li>
                            <li><a class="dropdown-item" href="#">Dashboard</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href={% url 'myseminar' %}>Registered Seminar</a></li>
                          </ul>
                    </li>
                    <ul class="float-right">
                        <a class="nav-link" href="#">{{user}}</a>
                    </ul>
                </ul>
                
            </div>
            <div class=" collapse navbar-collapse flex-row-reverse" id="navbarNavDropdown">
                
                <p class="mx-3 link-dark text-decoration-none"><a href={% url 'signout' %} class="link-dark text-decoration-none">logout</a></p>
                <p class="mx-3">{{user}}</p>
            </div>
        </div>
    </nav>
</div> 