{% extends 'seminar/main.html' %}
{% load static %}

{% block content %}
<div class="container mt-5 ">
    <p class="h2 text-center text-decoration-underline pb-3">Organized Events</p>

    {% for seminar in seminars %}
    <div class="card mb-3 mx-auto" style="max-width: 540px;">
        <div class="row g-3">
            <div class="col-md-4">
                {% if seminar.image %}
                <img src="{{seminar.image.url}}" alt="" class="img-fluid">
                {% endif %}
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{seminar.name}}</h5>
                    <p class="card-text">Category: {{seminar.category}}</p>
                    <p class="card-text">Date: <small class="text-muted">{{seminar.start_date}}</small></p>
                </div>
                <div class="position-absolute bottom-0 end-0"> <button class="btn btn-secondary"><a
                            href="{% url 'organizedseminardetails' seminar.id %}" class="text-decoration-none"
                            style="color: black;"> See More</a></button> </div>

            </div>
        </div>
    </div>



    <br>
    {% endfor %}
</div>


{% endblock content %}