{% extends 'seminar/main.html' %}
{% load static %}

{% block content %}
<div class="container">

    <div class="w-75 mx-auto">
        {% if seminar.image %}
        <img src="{{seminar.image.url}}" alt="" class="img-fluid">
        {% endif %}
        <p>{{seminar.name}}</p>
        <p>{{seminar.type}}</p>
        <p>{{seminar.start_date.date}}</p>
        <p>{{seminar.end_date.date}}</p>
        <p>{{seminar.seat}}</p>
    </div>
    <div class="m-2 mx-auto d-flex justify-content-center">
        <button type="" class='rounded-3'><a href="{% url 'update_seminar_details' seminar.id %}" class="text-decoration-none link-dark">Edit Information</a></button>
    </div>

    <div class="w-75 mx-auto">
        <p class="lead w-25 mx-auto">List of Registered User</p>
    </div>



    <table class="table table-striped w-75 mx-auto">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Email</th>
                <th scope="col">Date</th>
                <th scope="col">Cancel Registration</th>
            </tr>
        </thead>
        <tbody>
            {% for r_user in r_users %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{r_user.user}}</td>
                <td>{{r_user.date}}</td>
                <td>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <button type="submit" value="{{r_user.id}}" name='id_submit'>Cancel Registration</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>



</div>
{% endblock content %}