{% extends "seminar/main.html" %}
{% load static %}
{% load django_bootstrap5 %}
{#  <link rel="stylesheet" href="{% static 'css/signin.css' %}">#}
{% block content %}
{% comment "" %}
<div>
  <img src="/static/logo2.png" class="slide-right2" alt="..." style="width: 80%;margin-left: 10%;">
</div>
<center>
  <h3> Login to your account </h3>
</center>

<form action="" method="POST" class='frm'>
  {% csrf_token %}
  <div class="container w-25">
    <div class="row justify-content-center">

      <label>Email : </label>
      <input type="email" placeholder="Enter Your Email" name="email" required class="">
      <label>Password : </label>
      <input type="password" placeholder="Enter Password" name="password" required>
      <button type="submit" class='btnn'>Signin</button>
      <p style="margin:auto"><a href="{% url 'signup' %} " class="link-dark ">Register Your Account</a></p>
    </div>
  </div>
</form>{% endcomment %}

<section class="vh-100" style="background-color: rgb(119, 165, 160);">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="/static/banner/login.jpeg" alt="login form" class="img-fluid"
                style="border-radius: 1rem 0rem 5rem 0rem;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form action="" method="POST">
                  {% csrf_token %}
                  <div class="d-flex align-items-center mb-3 pb-1">
                    <i class="fas fa-cubes fa-2x me-3" style="color: rgb(119, 165, 160);"></i>
                    <span class="h1 fw-bold mb-0">NextSeminar</span>
                  </div>

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>


                  <div class="form-outline mb-4">
                    <input type="email" placeholder="Enter Your Email" name="email" id="form2Example27"
                      class="form-control form-control-lg" required class="" id="form2Example27">
                    <label class="form-label" for="form2Example27">Email address</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" placeholder="Enter Password" name="password" id="form2Example17"
                      class="form-control form-control-lg" required>
                    <label class="form-label" for="form2Example17">Password</label>
                  </div>

                  <div class="pt-1 mb-4">
                    <button class="btn btn-dark btn-lg btn-block" type="submit">Login</button>
                  </div>

                  <a class="small text-muted" href="#!">Forgot password?</a>
                  <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="{% url 'signup' %}"
                      style=" color: #393f81;">Register here</a></p>
                  <a href="#!" class="small text-muted">Terms of use.</a>
                  <a href="#!" class="small text-muted">Privacy policy</a>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}